# server-specific values
NODE_ENVIRONMENT="development"
HOST="localhost"
PORT=3000

# Mongo DB connection string
DB_STRING="mongodb+srv://<username>:<password>@<path-to-cluster>.mongodb.net/<database>"

### OAUTH ###

# auth0 issuer URL
OAUTH_URL="<auth0 issuer URL>"
# local URL
BASE_URL="<server URL (http://<host>:<port>)>"
# auth0 client ID
OAUTH_ID="<auth0 client id>"

### SECRETS

# express-session
SESSION_SECRET="long_random_string_like_64_characters_long"

# JWT
ACCESS_TOKEN_SECRET="long_random_string_like_64_characters_long"

# oauth
OAUTH_SECRET="long_random_string_like_64_characters_long"
